<div class="game-screen row">
  <div class="small-12 large-3 columns info-panel">
    <button type="button" class="expanded primary button"><strong>Game Info</strong></button>
    <button type="button" class="expanded success button">Question:</button>
    <button type="button" class="expanded success button">Score: </button>
    <button type="button" class="expanded success button">High Score: </button>
    <hr>
    <button type="button" class="expanded primary button"><strong>User Info</strong></button>
    <button type="button" class="expanded success button">Settings</button>
    <button type="button" class="expanded success button">Profile</button>
    <button type="button" class="expanded alert button">Logout</button>
  </div>
  <div class="small-12 large-9 columns">
    <div class="callout primary">
      <h6>For which country population, total is equal to 32.53 mln</h6>
    </div>

    <div class="row small-up-4 medium-up-4 large-up-4">
      <div class="column">
        <img src="https://cdn0.iconfinder.com/data/icons/195-flat-flag-psd-icons/70/United-Kingdom.png" class="thumbnail" alt="">
        <p>United Kingdom</p>
      </div>
      <div class="column">
        <img src="https://cdn0.iconfinder.com/data/icons/195-flat-flag-psd-icons/70/United-Kingdom.png" class="thumbnail" alt="">
        <p>Latvia</p>
      </div>
      <div class="column">
        <img src="https://cdn0.iconfinder.com/data/icons/195-flat-flag-psd-icons/70/United-Kingdom.png" class="thumbnail" alt="">
        <p>Saint Vincent and the Grenadines</p>
      </div>
      <div class="column">
        <img src="https://cdn0.iconfinder.com/data/icons/195-flat-flag-psd-icons/70/United-Kingdom.png" class="thumbnail" alt="">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>
</div>
