<div class="game-screen row">
  <div class="small-12 large-3 columns info-panel">
    <button type="button" class="expanded primary button"><strong>Game Info</strong></button>
    <button type="button" class="expanded success button">Question:</button>
    <button type="button" class="expanded success button">Score: </button>
    <button type="button" class="expanded success button">High Score: </button>
  </div>
  <div class="small-12 large-9 columns">
    <div class="callout primary">
      <h6><%= @question %> is equal to <%= @answer.Value %></h6>
    </div>

    <div class="row small-up-4 medium-up-4 large-up-4">
      <% @records.each do |r|%>
      <div class="column">
        <%= link_to image_tag(r.CountryName.tr(" ", "-"), :alt => r.CountryName, :class => "thumbnail"), root_path, data: { method: :post, remote: true, params: { country_id: r.id }.to_param } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
