/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.alert-custom {
  margin: 1rem 0 0 0;
  background: #e74c3c;
  color: #782920;
  border: 0.1em solid #c0392b;
}

.alert-custom button.close-button {
  color: #c0392b;
}

.notice {
  margin: 1rem 0 0 0;
  background: #19B5FE;
  color: #0d6f9d;
  border: 0.1em solid #0d6f9d;
}

.notice button.close-button {
  color: #0d6f9d;
}

.menu-text {
  color: #fff;
}

ul.menu li a {
  color: #19B5FE;
}

ul.menu li a:hover {
  color: #fff;
  font-weight: bold;
}

.is-dropdown-submenu {
  border-color: #2c3e50;
}


.container {
  max-width: 800px;
  margin: 0 auto;
}

p.button {
  cursor: default;
}


.top-bar-left select {
  margin: 0;
}
