// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-screen {
  margin-top: 4rem;
  .info-panel {
    padding-top: 1em;
    border: 0.05em solid #ebebeb;
  }

  .flag {
    border: 0.2em solid #ebebeb;
    border-radius: 1rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .flag.active{
    border-color: #333333;
  }

  .flag.wrong, .flag.wrong:hover {
    border-color: red;
  }

  .flag.correct, .flag.correct:hover {
    border-color: green;
  }

  .callout.wrong {
    margin-top: 3rem;
  }

  .callout.wrong .title {
    text-align: center;
  }

}
