// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-screen {
  margin-top: 4rem;
  .info-panel {
    padding-top: 1em;
    border: 1px solid #ebebeb;
  }
  .flag {

  }
}
